Options -Indexes
<IfModule mod_headers.c>
  Header always set X-Content-Type-Options "nosniff"
  Header always set Access-Control-Allow-Origin "*"
</IfModule>
<FilesMatch "^(config|config\.local)\.php$">
  Require all denied
</FilesMatch>
